Blue-agro/PartialArmTemplates/ArmTemplate_4_9_2019_18_10_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Blue-agro"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/geoline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getgeol",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": "geol"
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getgeol",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Getgeol').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "executorgeol",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "geol"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference",
											"parameters": {
												"table": "geolocalizacao"
											}
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetget')]",
				"[concat(variables('factoryId'), '/datasets/datasetexecutor')]",
				"[concat(variables('factoryId'), '/datasets/saidaTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metrioline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getmet",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": "met"
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getmet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Getmet').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "executormet",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "met"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference",
											"parameters": {
												"table": "metereologia"
											}
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetget')]",
				"[concat(variables('factoryId'), '/datasets/datasetexecutor')]",
				"[concat(variables('factoryId'), '/datasets/saidaTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pluline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getplu",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": "plu"
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getplu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Getagro').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "executor2",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "plu"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference",
											"parameters": {
												"table": "pluviometrico"
											}
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetget')]",
				"[concat(variables('factoryId'), '/datasets/datasetexecutor')]",
				"[concat(variables('factoryId'), '/datasets/saidaTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/taline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata1",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": "geol"
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"typeProperties": {
							"items": {
								"value": "@activity('Getgeol').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy1",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "geol"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference",
											"parameters": {
												"table": "geolocalizacao"
											}
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetget')]",
				"[concat(variables('factoryId'), '/datasets/datasetexecutor')]",
				"[concat(variables('factoryId'), '/datasets/saidaTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetexecutor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectdatasetexecutor",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourcefolder": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": {
						"value": "@concat('proj-agro/ENTRADA/', utcnow('yyyyMMdd'), '/', dataset().sourcefolder)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectdatasetget",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourcefolder": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": {
						"value": "@concat('proj-agro/ENTRADA/', utcnow('yyyyMMdd'), '/', dataset().sourcefolder)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/saidaTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectablesaida",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table": {
						"type": "String"
					}
				},
				"type": "AzureTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			}
		}
	]
}