Blue-agro/PartialArmTemplates/ArmTemplate_4_9_2019_18_30_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Blue-agro"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pluline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getplu",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": "plu"
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getplu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Getplu').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "executorplu",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "plu"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference",
											"parameters": {
												"table": "pluviometrico"
											}
										}
									]
								}
							]
						}
					}
				]
			}
		}
	]
}