Blue-agro/PartialArmTemplates/ArmTemplate_4_9_2019_17_7_57.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Blue-agro"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/geoline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getagro",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "datasetget",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getagro",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('Getagro').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "executor",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": {
												"value": "@item().name",
												"type": "Expression"
											},
											"writeBatchSize": 10003
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "datasetexecutor",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "saidaTable",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetget')]",
				"[concat(variables('factoryId'), '/datasets/datasetexecutor')]",
				"[concat(variables('factoryId'), '/datasets/saidaTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetexecutor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectdatasetexecutor",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "item_type",
						"type": "String"
					},
					{
						"name": "sales_channel",
						"type": "String"
					},
					{
						"name": "order_priority",
						"type": "String"
					},
					{
						"name": "order_date",
						"type": "String"
					},
					{
						"name": "order_id",
						"type": "String"
					},
					{
						"name": "ship_date",
						"type": "String"
					},
					{
						"name": "units_sold",
						"type": "String"
					},
					{
						"name": "unit_price",
						"type": "String"
					},
					{
						"name": "unit_cost",
						"type": "String"
					},
					{
						"name": "total_revenue",
						"type": "String"
					},
					{
						"name": "total_cost",
						"type": "String"
					},
					{
						"name": "total_profit",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "clientname",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "proj-agro/ENTRADA/20190409/geol"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectdatasetget",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "",
					"folderPath": "proj-agro/ENTRADA/20190409/geol"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/saidaTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conectablesaida",
					"type": "LinkedServiceReference"
				},
				"type": "AzureTable",
				"typeProperties": {
					"tableName": "geolicalizacao"
				}
			}
		}
	]
}