agro/pipeline/blue-agro.json
{
	"name": "blue-agro",
	"properties": {
		"activities": [
			{
				"name": "proagro",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "entrada",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "saida",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "migracao",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "entrada",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "adicionar",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "migracao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('migracao').output.talhaoclient",
						"type": "Expression"
					},
					"isSequential": false
				}
			}
		]
	}
}