agro/pipeline/pluline.json
{
	"name": "pluline",
	"properties": {
		"activities": [
			{
				"name": "Getplu",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "datasetget",
						"type": "DatasetReference",
						"parameters": {
							"sourcefolder": "plu"
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getplu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Getagro').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "executor2",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureTableSink",
									"azureTableInsertType": "merge",
									"azureTableDefaultPartitionKeyValue": {
										"value": "@item().name",
										"type": "Expression"
									},
									"writeBatchSize": 10003
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "datasetexecutor",
									"type": "DatasetReference",
									"parameters": {
										"sourcefolder": "plu"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "saidaTable",
									"type": "DatasetReference",
									"parameters": {
										"table": "pluviometrico"
									}
								}
							]
						}
					]
				}
			}
		]
	}
}